<h2>Välkommen till Film-Babblarna</h2>

<form action='/logout/' method='post'> 
  <button type='submit'>Logga In/ut</button>
</form>

<ul>
    <% @movies.each do |movie| %>
        <li> <a href="http://localhost:9292/movie/<%=movie['id']%>"><%= movie['title']%></a></li>
    <% end %>
</ul>

