<h2>V채lkommen till Film-Babblarna</h2>


<% if session[:user_id] %>
<details>
  <summary>L채gg till en film</summary>
<form action='/newmovie/' method='post'> 
  <label for="title">Filmens titel:</label>
  <input type='text' name='title'></input>
  <label for="year">Filmens utkomst책r:</label>
  <input type='integer' name='year'></input>
  <label for="desc">Beskrivning om filmen</label>
  <input type='text' name='desc'></input>
  <button type='submit'>L채gg till</button>
</form>
</details>
<% end %>

<ul>
    <% @movies.each do |movie| %>
        <li> <a href="http://localhost:9292/movie/<%=movie['id']%>"><%= movie['title']%></a></li>
    <% end %>
</ul>

