<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film Babblarna</title>
</head>
<body>
    <h1>Film Babblarna</h1>
    <a href="/">Startsida</a>
    <a href="/login">Login</a>

    <% if session[:user_id] %>
    <a href="/profil">Profil</a>
    <% end %>

    <% if session[:user_id] %>
        <%# <% if @user['admin'] == 1 %>
            <a href="/alluser">Alla användare</a>
        <%# <% end %>
    <% end %>
    
    <%= yield %>
    <span>------</span>
</body>
</html>