<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film Babblarna</title>
</head>
<body>
    <h1>Film Babblarna</h1>
    <form action='/logout/' method='post'> 
        <button type='submit'>Logga In/ut</button>
    </form>

    <%= yield %>
    <span>------</span>
</body>
</html>