<h1>Logga in</h1>
<form action='/login/' method='post'> 
  <label for="username">Användarnamn:</label>
  <input type='text' name='username'></input>
  <label for="password">Lösenord:</label>
  <input type='text' name='password'></input>
  <button type='submit'>Logga in</button>
</form>

<a href='/new'>Ny användare? Klicka här!</a>