<h1>Logga in</h1>
<form action='/login/' method='post'> 
  <input type='text' name='username'></input>
  <input type='text' name='password'></input>
  <button type='submit'>Logga in</button>
</form>

<form action='/newuser/' method='post'> 
  <button type='submit'>Ny användare? Klicka här!</button>
</form>