<h1>Registrera dig</h1>
<form action='/newuser/' method='post'> 
  <input type='text' name='name'></input>
  <input type='text' name='username'></input>
  <input type='text' name='password'></input>
  <button type='submit'>Skapa konto</button>
</form>