<h1>Registrera dig</h1>
<form action='/newuser/' method='post'> 
  <label for="name">Namn</label>
  <input type='text' name='name'></input>
  <label for="username">Användarnamn</label>
  <input type='text' name='username'></input>
  <label for="password">Lösenord</label>
  <input type='text' name='password'></input>
  <button type='submit'>Skapa konto</button>
</form>