<h1>Välkommen till din profil sida! YAY</h1>

<h2><%=@user['name']%></h2>
<h5><%=@user['username']%></h5>

<h4>Lägg till en ny film</h4>
<form action='/newmovie/' method='post'> 
  <input type='text' name='title'></input>
  <input type='text' name='year'></input>
  <input type='text' name='desc'></input>
  <button type='submit'>Lägg till</button>
</form>